@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
p {
  color: #0a1158;
  font-weight: 800;
  margin-bottom: 0px;
}
.page {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
.sidebar-div {
  /* text-align: center; */
}

.content {
  width: calc(100% - 50px);
  margin-left: auto;
  padding: 15px;
  height: 100%;
  word-break: break-word;
}
.content-left {
  padding-left: 215px;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: #ffffff;
  transition: width 0.3s ease;
  /* border-right: 1px #4d606e solid; */
  /* padding-top: 15px; */
}

.sidebar .sidebar-position {
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-align: left;
}

.sidebar .sidebar-position:hover {
  /* background-color: #0a1158; */
  border-right: 4px #0a1158 solid;

  color: #ffffff;
}

.sidebar svg {
  color: #0a1158;
  /* min-width: 25px; */
}

.sidebar span {
  width: 0;
  height: 0;
  padding: 0 15px;
  transition: width 0.3s ease;
  color: #0a1158;
  /* text-transform: uppercase; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 600;
  /* font-size: 20px; */
  line-height: 15px;
}

.sidebar--open {
  width: 250px;
  transition: width 0.3s ease;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
  /* background-color: aqua; */
}

.sidebar--open .sidebar-position span {
  display: block;
  width: 100%;
  height: auto;
}

.vector-right {
  position: absolute;
  left: 50px;
  /* top: 100px; */
}

.trigger {
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 15px;
  /* padding: 0px 0px 15px 12px; */
}

h5 {
  color: #0a1158;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 600;
}
.first-content {
  text-align: left;
  padding-left: 10px;
}
small {
  color: #404040;
}

.card-body {
  top: 20;
  left: 0;
  bottom: 0;
}
